/*
  ******  CONSTANT  ******
*/
@font-face {
  font-family: Cambria;
  src: url('../fonts/cambria/Cambria.ttf');
}

:root {
  --primary-color: #fff0e5;
  --icon-color: #ff7e5f;
  --gray-color: #9f9f9f;
  --button-color: linear-gradient(to right, #ff7e5f 0%, #feb47b 61%, #fa5b34 100%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Cambria;
}

body {
  font-family: Cambria;
}


/*
  ******  MAIN FORM  ******
*/
.container-mainform {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-mainform::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.wrap-mainform {
  width: 650px;
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
  background: white;
  padding: 30px 20px;
}

form {
  overflow: hidden;
}

#backgroundPage {
  background-image: url('../images/bg-01.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*
  ******  DIVIDER TEXT  ******
*/
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 7%;
  margin-right: 7%;
  overflow: hidden;
}

.divider-text span {
  padding: 7px;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 12px;
  position: relative;   
  z-index: 2;
  background-color: #ffffff; 
  font-weight: bold; 
  font-size: 30px;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.title-group {
  font-size: 30px;
}



/*
  ******  TITLE  ******
*/
#titleForm {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 5px 0px 30px 0px;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee;
}


/*
  ******  TEXT  ******
*/
.form-group {
  margin-bottom: 5px;
  overflow: hidden;
}

.input-group-text {
  font-weight: bold; 
  background-color: var(--primary-color);
}

.text {
  font-size: 20px;
  min-height: 45.5px;
  color: black;
}

.unit {
  background-color: var(--primary-color); 
  border-left: none; 
  text-align: right; 
  max-width: 60px;
}


/*
  ******  BUTTON CSS  ******
*/
.button-area {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.btn {
  width: 100%;
  height: 100%;
  font-family: Cambria;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: var(--button-color);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background-size: 200% auto;
  border-radius: 8px;
  display: block;
  margin-bottom: 5px;
}

.btn:active,
.btn:focus,
.btn:focus:active {
  outline: 0;
  box-shadow: none;
}

.btn:hover {
  background-position: right center;
  color: rgb(236, 236, 236);
  text-decoration: none;
}

.ic-btn {
  padding-top: 2px;
  padding-bottom: 2px;
}


/*
  ******  DROPDOWN MENU  ******
*/
.select-role{
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 2;
}

.btn-menu {
  background-color: transparent;
}

.btn-menu:hover {
  background-color: transparent;
}

#name {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.dropdown-menu.show {
  background-color: hsl(0, 100%, 99%);
}

.dropdown-menu li {
  padding: 3px 0;
}

.dropdown-item:hover {
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

.dropdown-divider-wrap {
  padding: 0px;
}

.ic-dropdown {
  font-size: 25px; 
  margin-right: 20px; 
  color: var(--icon-color);
}

.logout {
  color: var(--gray-color);
}


/*
  ******  MIN WIDTH  ******
*/
.mw215 {
  min-width: 215px;
}

.mw145 {
  min-width: 155px;
}

.mw135 {
  min-width: 135px;
}

.mw130 {
  min-width: 130px;
}

.mw80 {
  min-width: 80px;
}


/*
  ******  TEXT-ALIGN  ******
*/
.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}


/*
  ******  MARGIN  ******
*/
.mb10 {
  margin-bottom: 10px;
}


/*
  ******  RESPONSIVE LAYOUT  ******
*/
@media screen and (max-width: 1200px) {
  .wrap-mainform {
    width: 650px;
  }
}

@media screen and (max-width: 900px) {
  /* MAIN FORM */
  .wrap-mainform {
    width: 590px;
  }

  .mainform-form-title {
    font-size: 28px;
  }

  /* BUTTON */
  .btn {
    font-size: 18px;
  }
  
  /* TEXT */
  .text {
    font-size: 18px;
    min-height: 42.5px;
  }

  #name {
    font-size: 23px;
  }
  
  .title-group {
    font-size: 26px;
  }

  #titleForm {
    font-size: 40px;
  }
  
  /* MIN WIDTH */
  .mw215 {
    min-width: 195px;
  }

  .mw130 {
    min-width: 110px;
  }
}


@media screen and (max-width: 768px) {
  /* DROPDOWN MENU */
  .ic-dropdown {
    font-size: 23px; 
    margin-right: 15px; 
  }
  
  /* MAIN FORM */
  .wrap-mainform {
    width: 540px;
  }

  .mainform-form-title {
    font-size: 25px;
  }

  /* BUTTON */
  .btn {
    font-size: 16px;
  }
  
  /* TEXT */
  .text {
    font-size: 16px;
    min-height: 39.5px;
  }

  #titleForm {
    font-size: 38px;
    margin: 5px 0px 25px 0px;
  }

  /* MIN WIDTH */
  .mw215 {
    min-width: 190px;
  }

  .mw145 {
    min-width: 130px;
  }

  .mw135 {
    min-width: 115px;
  }
  
  .mw130 {
    min-width: 100px;
  }

  .mw80 {
    min-width: 80px;
  }
}

@media screen and (max-width: 600px) {
  /* MAIN FORM */
  .wrap-mainform {
    width: 400px;
  }
  
  /* TEXT */
  .text {
    font-size: 15px;
    min-height: 38px;
    overflow: hidden;
  }

  #name {
    font-size: 20px;
  }
  
  .title-group {
    font-size: 24px;
  }

  #titleForm {
    font-size: 30px;
    margin: 5px 0px 15px 0px;
  }

  /* MIN WIDTH */
  .mw145 {
    min-width: 125px;
  }
  
  .mw80 {
    min-width: 70px;
  }
}


@media screen and (max-width: 450px) {
  /* DROPDOWN MENU */
  .ic-dropdown {
    font-size: 20px; 
    margin-right: 10px; 
  }
  
  /* TEXT */
  #name {
    font-size: 18px;
  }
  
  /* MAIN FORM */
  .wrap-mainform {
    width: 350px;
    padding: 20px 10px;
  }
}

