body {
  position: relative;
}
.card-body {
  padding: 10px !important;
  overflow: hidden;
}

.igt-center {
  display: block !important;
  width: 100%; 
  margin-right: auto; 
  margin-left: auto; 
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
  color: black;
}

.content-collapse {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.card {
  margin-bottom: 5px;
}

.card-header {
  background-image: linear-gradient(to right, #ff7e5f 0%, #feb47b  61%, #fa5b34  100%);
}

.card-link {
  font-size: 20px !important;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
}

.card-link:hover {
  cursor: pointer;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.combobox {
  height: auto !important;
  text-align: center !important;
}

#status {
  padding-left: 5px;
  font-weight: bold;
  color: red;
}


.custom-select {
  background: none !important;
  padding: 0px !important;
  border-left: none !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: -webkit-center !important;
  text-align-last: center !important;
}


.custom-select:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.4);
  z-index: -1;
}
.overlay .wrap-mainform{
  padding-top: 60px;
  width: 95%;
  height: auto;
  position: fixed;
  max-width: 650px;
}
.wrap-mainform-animate {
  transform: translateY(-100%);
  animation: fadeIn .5s forwards;
  animation-timing-function: linear;
}
#close-icon {
  font-size: 25px;
  position: absolute;
  padding: 5px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {

  .wrap-login100 {
    width: 650px;
  }
}

@media screen and (max-width: 900px) {
  .card-link {
    font-size: 23px !important;
  }
}


@media screen and (max-width: 768px) {
  .card-link {
    font-size: 21px !important;
  }
}

@media screen and (max-width: 600px) {
  .card-link {
    font-size: 20px !important;
  }
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
  }
} 
  
