body {
  position: relative;
}
.card-body {
  padding: 10px !important;
  overflow: hidden;
}

.igt-center {
  display: block !important;
  width: 100%; 
  margin-right: auto; 
  margin-left: auto; 
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
  color: black;
}

.content-collapse {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.card {
  margin-bottom: 5px;
}

.card-header {
  /* background-image: linear-gradient(to right, #ff7e5f 0%, #feb47b  61%, #fa5b34  100%); */
  background-color: #feb47b;
}

.card-link {
  font-size: 20px !important;
  color: white;
  font-weight: bold;
  display: block;
  text-align: center;
}

.card-link:hover {
  cursor: pointer;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.combobox {
  height: auto !important;
  text-align: center !important;
}

#status {
  padding-left: 5px;
  font-weight: bold;
  color: red;
}


.custom-select {
  padding: 0px !important;
  border-left: none !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: -webkit-center !important;
  text-align-last: center !important;


  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.35rem) center !important;
  -moz-appearance:none !important;
  -webkit-appearance: none !important; 
  appearance: none !important;
  padding-right: 5px !important;
}


.custom-select:hover {
  cursor: pointer;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  background-color: rgba(0,0,0,.6);
  z-index: -1;
}

.overlay-animate {
  transform: translateY(100%);
  animation: showDialog .5s forwards;
  animation-timing-function: linear;
}
.overlay .container-mainform {
  height: 100%;
}

.overlay .container-mainform .wrap-mainform{
  max-width: 500px;
  position: relative;
}

#close-icon {
  font-size: 25px;
  position: absolute;
  padding: 5px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


.item-collapse {
  width: 100%;
}

.ic-dd-collapse {
  position: absolute; 
  height: 30px;
}

.title-collapse {
  border: none; 
  background: transparent; 
  margin: auto; 
  font-size: 20px;
}

.arrow-ic {
  border: none; 
  background: transparent; 
  display: block; 
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  font-size: 20px;
}



@media screen and (max-width: 1200px) {

  .wrap-login100 {
    width: 650px;
  }
}

@media screen and (max-width: 900px) {
  .card-link {
    font-size: 23px !important;
  }

  .ic-dd-collapse {
    height: 27px;
  }

  .title-collapse {
    font-size: 18px;
  }
  
  .arrow-ic {
    font-size: 18px;
  }
  
}


@media screen and (max-width: 768px) {
  .card-link {
    font-size: 21px !important;
  }

  .ic-dd-collapse {
    height: 27px;
  }
  
  .title-collapse {
    font-size: 16px;
  }
  
  .arrow-ic {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .card-link {
    font-size: 20px !important;
  }
}

@keyframes showDialog {
  to {
    transform: translateY(0);
  }
} 
  
