body {
	position: relative;
	min-height: -webkit-fill-available !important;
	font-family: sans-serif;
}

.btn-lg {
    padding: 20px 10px !important;
}

.container-mainform {
	height: -webkit-fill-available !important; 
}

.overlay {
	position: absolute;
	inset: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
}

.overlay-animate {
	transform: translateY(100%);
	animation: showDialog .5s forwards;
	animation-timing-function: linear;
}

.overlay .container-mainform {
	height: -webkit-fill-available !important; 
}

.overlay .container-mainform .wrap-mainform {
	max-width: 500px;
	position: relative;
}

.barcodeOverlay {
	position: absolute;
	inset: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
}

.barcodeOverlay-animate {
	transform: translateY(100%);
	animation: showDialog .5s forwards;
	animation-timing-function: linear;
}

.barcodeOverlay .container-mainform {
	height: -webkit-fill-available !important; 
}

.barcodeOverlay .container-mainform .wrap-mainform {
	max-width: 500px;
	position: relative;
}

.settingOverlay {
	position: absolute;
	inset: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
}

.settingOverlay-animate {
	transform: translateY(100%);
	animation: showDialog .5s forwards;
	animation-timing-function: linear;
}

.settingOverlay .container-mainform {
	height: 100%;
}

.settingOverlay .container-mainform .wrap-mainform {
	max-width: 500px;
	position: relative;
}

#close-icon {
	font-size: 25px;
	position: absolute;
	padding: 5px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#close-barcode-icon {
	font-size: 25px;
	position: absolute;
	padding: 5px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

#camera {
    display: none;
    margin-top: 3%;
	margin-bottom: 3%;
    position: relative;
} 

#camera video {
    width: -webkit-fill-available;
	max-height: 300px;
    margin: 0;
	overflow: hidden;
}

.drawingBuffer {
    display: none ;
}

.msgError {
	color: red;
	text-align: right;
	margin-bottom: 0 !important;
	display: none;
}

/*
  ******  RESPONSIVE LAYOUT  ******
*/
@media screen and (min-width: 1200px) {
    .wrap-mainform {
        width: 700px;
    }
}

@media screen and (max-width: 1200px) {
	.container-mainform {
		height: fit-content !important;
	}

    .wrap-mainform {
        width: 700px;
    }

	.barcodeOverlay .container-mainform .wrap-mainform {
		max-height: fit-content;
	}
}

@media screen and (max-width: 900px) {
    /* MAIN FORM */
    .wrap-mainform {
        width: 630px;
    }
	
	.barcodeOverlay .container-mainform .wrap-mainform {
		max-height: fit-content;
	}

	/* DIVIDER TEXT */
	.divider-text span {
		margin: 15px 15% !important;
		font-size: 23px;
	}
}


@media screen and (max-width: 768px) {

    /* MAIN FORM */
    .wrap-mainform {
		width: 540px;
    }
    
    .btn-lg {
        padding: 15px 10px;
    }
	/* DIVIDER TEXT */
	.divider-text span {
		font-size: 20px;
		margin: 15px 0 !important;
	}
}

@media screen and (max-width: 600px) {

    /* MAIN FORM */
    .wrap-mainform {
        width: 500px;
    }

	.text{
		overflow: visible !important;
	}

	/* DIVIDER TEXT */
	.divider-text span {
		font-size: 18px;
	}
}


@media screen and (max-width: 450px) {

    /* MAIN FORM */
    .wrap-mainform {
		width: 380px;
    }

    .btn-lg {
        padding: 10px 3px;
    }
}