.btn-lg {
    padding: 20px 10px !important;
}


.overlay {
	position: absolute;
	inset: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
}

.overlay-animate {
	transform: translateY(100%);
	animation: showDialog .5s forwards;
	animation-timing-function: linear;
}

.overlay .container-mainform {
	height: 100%;
}

.overlay .container-mainform .wrap-mainform {
	max-width: 500px;
	position: relative;
}

#close-icon {
	font-size: 25px;
	position: absolute;
	padding: 5px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}


/*
  ******  RESPONSIVE LAYOUT  ******
*/
@media screen and (min-width: 1200px) {
    .wrap-mainform {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .wrap-mainform {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {

    /* MAIN FORM */
    .wrap-mainform {
        width: 350px;
    }
}


@media screen and (max-width: 768px) {

    /* MAIN FORM */
    .wrap-mainform {
        width: 350px;
    }
    
    .btn-lg {
        padding: 15px 10px;
    }
}

@media screen and (max-width: 600px) {

    /* MAIN FORM */
    .wrap-mainform {
        width: 350px;
    }
}


@media screen and (max-width: 450px) {

    /* MAIN FORM */
    .wrap-mainform {
        width: 350px;
    }

    .btn-lg {
        padding: 10px 3px;
    }
}