/*
  ******  PRINTVIEW  ******
*/
#printContent {
	margin: 15px 5px 60px 5px;
	padding: 40px 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border-radius: 4px;
}

#printContentDetail {
	background-color: white;
	padding: 5px;
}

.end-space {
	width: 100% !important;
	padding-top: 25px !important;
}

.end-bill {
	height: fit-content;
	width: fit-content;
	display: block;
	margin: auto;
	text-align: center;
	bottom: 0;
}


/*
  ******  IMAGE  ******
*/
#logoPrintArea {
	padding: 30px;
}

#logoPrint {
	height: 100px;
	width: 100px;
	display: block;
	margin: auto;
}


/*
  ******  TITLE  ******
*/
.title-printView {
	display: block;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}


/*
  ******  TEXT  ******
*/
.text-print {
	font-size: 20px;
}

.wsp-title {
	word-spacing: 25px;
}

.wsp-text {
	word-spacing: 3px;
}


/*
  ******  PADDING && MARGIN  ******
*/
.pd-l-25 {
	padding-left: 25px;
}

.bracket {
	margin-left: 10px;
}

#printContentDetail {
	padding: 0px 20px !important;
}


/*
  ******  PADDING && MARGIN  ******
*/
.bracket {
	margin-left: 10px;
}


/*
  ******  RESPONSIVE LAYOUT  ******
*/

@media screen and (max-width: 900px) {

	/* TEXT */
	.title-printView {
		font-size: 40px;
	}

	.wsp-title {
		word-spacing: 23px;
	}


	/* .text-print {
		font-size: 18px !important;
	} */
}


@media screen and (max-width: 768px) {

	/* TEXT */
	.title-printView {
		font-size: 38px;
	}

	.wsp-title {
		word-spacing: 20px;
	}

	.text-print {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 600px) {

	/* TEXT */
	.title-printView {
		font-size: 35px;
	}

	.wsp-title {
		word-spacing: 15px;
	}

	.text-print {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 450px) {
	#printContentDetail {
		padding: 0px 10px !important;
	}

	/* TEXT */
	.title-printView {
		font-size: 30px;
	}

	.wsp-title {
		word-spacing: 12px;
	}
}