* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
}

.value {
  font-size: 22px;
}

.btn {
  width: 100%;
  height: 100%;
  font-family: Ubuntu-Bold;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  background: #d41872;
  background: -webkit-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -o-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: -moz-linear-gradient(left, #a445b2, #d41872, #fa4299);
  background: linear-gradient(left, #a445b2, #d41872, #fa4299);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.wrap-login100 {
  width: 790px;
  border-radius: 10px;
  overflow: hidden;
  height: fit-content;
  background: white;
  padding: 30px 20px;
}

.login100-form {
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
}

.login100-form-title {
  font-family: Ubuntu-Bold;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: auto;
  text-align: start;
}

.content {
  align-items: center;
  margin: 10px 0px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0;
}

.area-value {
  height: 50px;
  border-radius: 4px;
  border-color: black;
  border-width: 2px;
}

.input {
  width: 100%;
  text-align: center;
  border-radius: 4px;
  border-color: black;
  border-width: 2px;
  padding: 3px 5px;
  height: 50px;
  resize: none;
}

#barcodeType {
  font-weight: bold;
}

.btn-area {
  padding: 10px 0;
}

.area-input {
  padding: 0px;
}

.drawingBuffer {
  display: none ;
}

#camera {
  display: none;
  margin-top: 3%;
  position: relative;
}

#camera video {
  width: 750px;
}


@media screen and (min-width: 1500px) {
  #camera video {
    width: 750px;
  }
  
}

@media screen and (max-width: 1500px) {

  #camera video {
    width: 750px;
  }
  
}

@media screen and (max-width: 1200px) {

  .wrap-login100 {
    width: 690px;
  }

  .login100-form-title {
    font-size: 18px;
  }

  .value {
    font-size: 18px;
  }

  .btn-area {
    padding: 10px 0;
  }

  .area-value {
    min-height: 45px;
  }

  .btn {
    font-size: 18px;
    padding: 20px 0;
  }
  #camera video {
    width: 650px;
  }
}

@media screen and (max-width: 900px) {

  .wrap-login100 {
    width: 590px;
  }
  
  #camera video {
    width: 550px;
  }
}


@media screen and (max-width: 768px) {

  .wrap-login100 {
    width: 540px;
  }

  .login100-form-title {
    font-size: 16px;
  }

  .value {
    font-size: 16px;
    padding: 0px;
    padding-left: 12px;
  }

  .btn-area {
    padding: 10px 0;
  }

  .area-value {
    min-height: 40px;
  }

  .title-area {
    padding: 0px;
    padding-right: 12px;
  }

  .btn {
    font-size: 16px;
    padding: 20px 0;
    height: 40px;
  }

  #camera video {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .wrap-login100 {
    width: 390px;
  }

  .value {
    font-size: 15px;
  }

  .note-value {
    font-size: 14px;
  }

  .login100-form-title {
    font-size: 14px;
  }

  .btn {
    width: 100%;
    padding: 0px;
    font-size: 14px;
    height: 40px;
  }

  #camera video {
    width: 350px;
  }
}


@media screen and (max-width: 450px) {
  .wrap-login100 {
    width: 320px;
  }

  #camera video {
    width: 280px;
    height: 280px;
  }
} 

