@font-face {
  font-family: Ubuntu-Regular;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
}
body {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  font-family: Ubuntu-Regular;
}
body::after {
  content: "";
  position: absolute;
  background-image: url("../images/bg-01.jpg");
  inset: 0;
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#search-form {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  max-width: 650px;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
}
.tilte {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 5px 0px 20px 0px;
  text-shadow: 1px 0px 1px #ccc, 0px 1px 1px #eee, 2px 1px 1px #ccc,
    1px 2px 1px #eee, 3px 2px 1px #ccc, 2px 3px 1px #eee, 4px 3px 1px #ccc,
    3px 4px 1px #eee;
}
.divider {
  opacity: 0;
}
input[type="radio"] {
  margin-left: 10px;
}

.table-container {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
  margin: auto 0px;
}
table {
  display: table;
  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid black;
  width: 100%;
  padding: 0 !important;
  overflow-y: scroll;
}
thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #e9ecef;
}
tbody {
  width: 100%;
  overflow-y: scroll;
}
th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
}
th {
  text-align: center;
}
th:nth-child(1), td:nth-child(1) {
  width: 20%;
}
th:nth-child(2), td:nth-child(2){
  width: 60%;
}
th:nth-child(3), td:nth-child(3){
  width: 10%;
}
tr:nth-child(even){background-color: #f2f2f2}
::-webkit-scrollbar {
  width: 2px;
}
tbody tr {
  cursor: pointer;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
tr:nth-child(even) {
  background-color: #ddd;
}
.warning {
  animation: shake 0.2s ease-in-out 0s 2;
  color: red !important;
  box-shadow: 0 0 0.5em red !important;
}
.warning::placeholder {
  color: red;
}
@media screen and (max-width:480px) {
  .divider {
    display: none;
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
