/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@media screen and (min-width: 1500px) {
  .check-box-time {
    width: 23px;
    height: 23px;
  }
  .check-box-tittle {
    font-size: 20px;
  }

  .li-comment {
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }
  .date_calendar {
    background-color: #ffffff;
    font-size: 25px;
  }
}

@media screen and (max-width: 1500px) {
  .check-box-time {
    width: 23px;
    height: 23px;
  }
  .check-box-tittle {
    font-size: 20px;
  }

  .li-comment {
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }
  .date_calendar {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .check-box-time {
    width: 20px;
    height: 20px;
  }

  .check-box-tittle {
    font-size: 20px;
  }

  .date_calendar {
    font-size: 25px;
  }

  .li-comment {
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }
}

@media screen and (max-width: 900px) {
  .date_calendar {
    font-size: 18px;
  }

  .date_calendar {
    font-size: 25px;
  }

  .area-value {
    min-height: 45px;
  }

  .check-box-time {
    width: 20px;
    height: 20px;
  }
  .check-box-tittle {
    font-size: 20px;
  }

  .li-comment {
    font-size: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .check-box-time {
    width: 17px;
    height: 17px;
  }
  .check-box-tittle {
    font-size: 15px;
  }

  .date_calendar {
    font-size: 22px;
  }
  .li-comment {
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .check-box-time {
    width: 12px;
    height: 12px;
  }
  .check-box-tittle {
    font-size: 10px;
  }

  .li-comment {
    font-size: 15px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }
  .date_calendar {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .check-box-time {
    width: 8px;
    height: 8px;
  }
  .check-box-tittle {
    font-size: 8px;
  }

  .li-comment {
    font-size: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }

  .combobox {
    font-size: 13px;
  }

  .date_calendar {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .check-box-time {
    width: 6px;
    height: 6px;
  }
  .check-box-tittle {
    font-size: 6px;
  }

  .li-comment {
    font-size: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;
  }

  .combobox {
    font-size: 13px;
  }

  .date_calendar {
    font-size: 12px;
  }
}

.date_calendar {
  background-color: #ffffff;
  text-align: center;
  border: none;
  width: 100%;
}

.check-box-tittle {
  margin: 0px;
}

/******  MODAL  ******/
/* Modal Content */
.modal-content {
  width: 80% !important;
}

.button-modal {
  color: white;
  background-color: #eeb725;
}

.button-modal:hover {
  background-color: #f0c44b;
}

.modal-message {
  background-color: #ffffff;
}
.form-control {
  padding: 0px;
  margin: 0px;
}
.item-combobox {
  text-align: center;
}

.input-group-prepend {
  overflow: hidden;
  padding-right: 0px;
}

.form-time {
  padding-left: 2px;
  padding-right: 15px;
}
