body {
    position: relative;
}

#printView {
    display: none;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,.6);
    z-index: -1;
}

.overlay-animate {
    transform: translateY(100%);
    animation: showDialog .5s forwards;
    animation-timing-function: linear;
}

.overlay .container-mainform .wrap-mainform{
    max-width: 400px;
    position: relative;
}

.overlay .container-mainform .wrap-mainform span {
    position: absolute;
    font-size: 30px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.dialog-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 1rem 1rem;
}

@keyframes showDialog {
    to {
        transform: translateY(0);
    }
}

.date-area {
    margin-bottom: 20px;
}

#printContentDetail {
    padding: 0px 20px !important;
}