body {
    position: relative;
}

#printView {
    display: none;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.overlay-animate {
    transform: translateY(100%);
    animation: showDialog .5s forwards;
    animation-timing-function: linear;
}

.overlay .container-mainform .wrap-mainform {
    max-width: 400px;
    position: relative;
}

.overlay .container-mainform .wrap-mainform span {
    position: absolute;
    font-size: 30px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.dialog-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 1rem 1rem;
}

.line-form {
    background-color: black;
}

.lh-4 {
    height: 4px;
}

.lh-2 {
    height: 2px;
}

.day-detail,
.kensin-total {
    padding: 0px 10px;
}


th {
    background-color: var(--primary-color);
}


.mr-5 {
    margin-right: 5px;
}

@keyframes showDialog {
    to {
        transform: translateY(0);
    }
}

.date-area {
    margin-bottom: 20px;
}

#shuukeiForm,
#nippouArea {
    display: none;
}

.sm-text {
    font-size: 20px;
}

.pr-0 {
    padding-right: 0px;
}

/*
  ******  RESPONSIVE LAYOUT  ******
*/

@media screen and (max-width: 900px) {
    .sm-text {
        font-size: 18px;
    }
}


@media screen and (max-width: 768px) {
    .sm-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .sm-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 450px) { 
    .sm-text {
        font-size: 13px;
    }
}